@media all and (min-width: 993px) {
    
}

@media all and (min-width: 481px) and (max-width: 992px) {
    .gallery {
        transform: translate(0, 0);
    }
    .product-image {
/*        height: 70vh;*/
        width: 40%;
        margin: 20px auto;
    }
}

@media all and (max-width: 480px) {
    .gallery {
        transform: translate(0, 0);
    }
    .product-image {
        width: 80%;
        margin: 10px auto;
    }
}